#mapBase {
	position:relative;
	background:url('assets/map.png'); width:986px; height:1184px;
	margin: 0 auto;
}
#L1 {
	position: absolute;
	width: 66px;
	height: 40px;
	z-index: 1;
	left: 217px;
	top: 78px;
}
#L2 {
	position: absolute;
	width: 65px;
	height: 38px;
	z-index: 2;
	left: 299px;
	top: 79px;
}
#L3 {
	position: absolute;
	width: 65px;
	height: 38px;
	z-index: 2;
	left: 379px;
	top: 79px;
}
#L4 {
	position: absolute;
	width: 65px;
	height: 38px;
	z-index: 2;
	left: 457px;
	top: 80px;
}
#L5 {
	position: absolute;
	width: 62px;
	height: 40px;
	z-index: 1;
	left: 622px;
	top: 176px;
}
#L6 {
	position: absolute;
	width: 42px;
	height: 53px;
	z-index: 2;
	left: 687px;
	top: 222px;
}
#L7 {
	position: absolute;
	width: 63px;
	height: 38px;
	z-index: 2;
	left: 622px;
	top: 281px;
}
#L8 {
	position: absolute;
	width: 39px;
	height: 57px;
	z-index: 2;
	left: 584px;
	top: 221px;
}
#L9 {
	position: absolute;
	width: 62px;
	height: 40px;
	z-index: 1;
	left: 348px;
	top: 176px;
}
#L10 {
	position: absolute;
	width: 42px;
	height: 53px;
	z-index: 2;
	left: 408px;
	top: 222px;
}
#L11 {
	position: absolute;
	width: 63px;
	height: 38px;
	z-index: 2;
	left: 347px;
	top: 283px;
}
#L12 {
	position: absolute;
	width: 39px;
	height: 57px;
	z-index: 2;
	left: 307px;
	top: 218px;
}
#L13 {
	position: absolute;
	width: 53px;
	height: 43px;
	z-index: 1;
	left: 439px;
	top: 370px;
}
#L14 {
	position: absolute;
	width: 43px;
	height: 52px;
	z-index: 2;
	left: 395px;
	top: 412px;
}
#L15 {
	position: absolute;
	width: 41px;
	height: 45px;
	z-index: 2;
	left: 395px;
	top: 539px;
}
#L16 {
	position: absolute;
	width: 39px;
	height: 47px;
	z-index: 2;
	left: 439px;
	top: 583px;
}
#L17 {
	position: absolute;
	width: 48px;
	height: 40px;
	z-index: 1;
	left: 561px;
	top: 588px;
}
#L18 {
	position: absolute;
	width: 43px;
	height: 52px;
	z-index: 2;
	left: 607px;
	top: 532px;
}
#L19 {
	position: absolute;
	width: 45px;
	height: 45px;
	z-index: 2;
	left: 606px;
	top: 419px;
}
#L20 {
	position: absolute;
	width: 55px;
	height: 47px;
	z-index: 2;
	left: 553px;
	top: 370px;
}
#L21 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 276px;
	top: 700px;
}
#L22 {
	position: absolute;
	width: 43px;
	height: 52px;
	z-index: 2;
	left: 333px;
	top: 745px;
}
#L23 {
	position: absolute;
	width: 45px;
	height: 45px;
	z-index: 2;
	left: 282px;
	top: 798px;
}
#L24 {
	position: absolute;
	width: 41px;
	height: 47px;
	z-index: 2;
	left: 235px;
	top: 746px;
}
#L25 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 498px;
	top: 699px;
}
#L26 {
	position: absolute;
	width: 43px;
	height: 52px;
	z-index: 2;
	left: 552px;
	top: 744px;
}
#L27 {
	position: absolute;
	width: 45px;
	height: 45px;
	z-index: 2;
	left: 503px;
	top: 798px;
}
#L28 {
	position: absolute;
	width: 41px;
	height: 47px;
	z-index: 2;
	left: 455px;
	top: 746px;
}
#L29 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 712px;
	top: 699px;
}
#L30 {
	position: absolute;
	width: 43px;
	height: 52px;
	z-index: 2;
	left: 766px;
	top: 744px;
}
#L31 {
	position: absolute;
	width: 45px;
	height: 45px;
	z-index: 2;
	left: 717px;
	top: 797px;
}
#L32 {
	position: absolute;
	width: 41px;
	height: 47px;
	z-index: 2;
	left: 670px;
	top: 746px;
}
#L33 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 711px;
	top: 913px;
}
#L34 {
	position: absolute;
	width: 43px;
	height: 52px;
	z-index: 2;
	left: 768px;
	top: 959px;
}
#L35 {
	position: absolute;
	width: 45px;
	height: 45px;
	z-index: 2;
	left: 717px;
	top: 1011px;
}
#L36 {
	position: absolute;
	width: 41px;
	height: 47px;
	z-index: 2;
	left: 670px;
	top: 961px;
}
#L37 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 494px;
	top: 914px;
}
#L38 {
	position: absolute;
	width: 43px;
	height: 52px;
	z-index: 2;
	left: 554px;
	top: 957px;
}
#L39 {
	position: absolute;
	width: 45px;
	height: 45px;
	z-index: 2;
	left: 502px;
	top: 1011px;
}
#L40 {
	position: absolute;
	width: 41px;
	height: 47px;
	z-index: 2;
	left: 454px;
	top: 960px;
}
#L41 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 277px;
	top: 913px;
}
#L42 {
	position: absolute;
	width: 43px;
	height: 52px;
	z-index: 2;
	left: 333px;
	top: 958px;
}
#L43 {
	position: absolute;
	width: 45px;
	height: 45px;
	z-index: 2;
	left: 281px;
	top: 1011px;
}
#L44 {
	position: absolute;
	width: 41px;
	height: 47px;
	z-index: 2;
	left: 235px;
	top: 959px;
}
#L45 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 52px;
	top: 708px;
}
#L46 {
	position: absolute;
	width: 51px;
	height: 39px;
	z-index: 2;
	left: 52px;
	top: 857px;
}
#L47 {
	position: absolute;
	width: 52px;
	height: 45px;
	z-index: 2;
	left: 53px;
	top: 1003px;
}
#L48 {
	position: absolute;
	width: 49px;
	height: 52px;
	z-index: 2;
	left: 174px;
	top: 1145px;
}
#L49 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 318px;
	top: 1146px;
}
#L50 {
	position: absolute;
	width: 51px;
	height: 39px;
	z-index: 2;
	left: 470px;
	top: 1147px;
}
#L51 {
	position: absolute;
	width: 52px;
	height: 45px;
	z-index: 2;
	left: 619px;
	top: 1145px;
}
#L52 {
	position: absolute;
	width: 49px;
	height: 52px;
	z-index: 2;
	left: 770px;
	top: 1146px;
}
#L53 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 932px;
	top: 1049px;
}
#L54 {
	position: absolute;
	width: 51px;
	height: 39px;
	z-index: 2;
	left: 935px;
	top: 838px;
}
#L55 {
	position: absolute;
	width: 52px;
	height: 45px;
	z-index: 2;
	left: 933px;
	top: 689px;
}
#L56 {
	position: absolute;
	width: 49px;
	height: 52px;
	z-index: 2;
	left: 935px;
	top: 541px;
}
#L57 {
	position: absolute;
	width: 52px;
	height: 45px;
	z-index: 2;
	left: 934px;
	top: 309px;
}
#L58 {
	position: absolute;
	width: 49px;
	height: 52px;
	z-index: 2;
	left: 934px;
	top: 159px;
}