#mapBase {
	position:relative;
	background:url('assets/map.png'); width:986px; height:1184px;
	margin: 0 auto;
}
#L1 {
	position: absolute;
	width: 66px;
	height: 40px;
	z-index: 1;
	left: 209px;
	top: 66px;
}
#L2 {
	position: absolute;
	width: 65px;
	height: 38px;
	z-index: 2;
	left: 287px;
	top: 65px;
}
#L3 {
	position: absolute;
	width: 65px;
	height: 38px;
	z-index: 2;
	left: 370px;
	top: 66px;
}
#L4 {
	position: absolute;
	width: 65px;
	height: 38px;
	z-index: 2;
	left: 449px;
	top: 66px;
}
#L5 {
	position: absolute;
	width: 62px;
	height: 40px;
	z-index: 1;
	left: 615px;
	top: 162px;
}
#L6 {
	position: absolute;
	width: 42px;
	height: 53px;
	z-index: 2;
	left: 680px;
	top: 208px;
}
#L7 {
	position: absolute;
	width: 63px;
	height: 38px;
	z-index: 2;
	left: 615px;
	top: 267px;
}
#L8 {
	position: absolute;
	width: 39px;
	height: 57px;
	z-index: 2;
	left: 577px;
	top: 207px;
}
#L9 {
	position: absolute;
	width: 62px;
	height: 40px;
	z-index: 1;
	left: 341px;
	top: 162px;
}
#L10 {
	position: absolute;
	width: 42px;
	height: 53px;
	z-index: 2;
	left: 401px;
	top: 208px;
}
#L11 {
	position: absolute;
	width: 63px;
	height: 38px;
	z-index: 2;
	left: 340px;
	top: 269px;
}
#L12 {
	position: absolute;
	width: 39px;
	height: 57px;
	z-index: 2;
	left: 300px;
	top: 204px;
}
#L13 {
	position: absolute;
	width: 53px;
	height: 43px;
	z-index: 1;
	left: 432px;
	top: 356px;
}
#L14 {
	position: absolute;
	width: 43px;
	height: 52px;
	z-index: 2;
	left: 388px;
	top: 398px;
}
#L15 {
	position: absolute;
	width: 41px;
	height: 45px;
	z-index: 2;
	left: 388px;
	top: 525px;
}
#L16 {
	position: absolute;
	width: 39px;
	height: 47px;
	z-index: 2;
	left: 432px;
	top: 569px;
}
#L17 {
	position: absolute;
	width: 48px;
	height: 40px;
	z-index: 1;
	left: 554px;
	top: 574px;
}
#L18 {
	position: absolute;
	width: 43px;
	height: 52px;
	z-index: 2;
	left: 600px;
	top: 518px;
}
#L19 {
	position: absolute;
	width: 45px;
	height: 45px;
	z-index: 2;
	left: 599px;
	top: 405px;
}
#L20 {
	position: absolute;
	width: 55px;
	height: 47px;
	z-index: 2;
	left: 546px;
	top: 356px;
}
#L21 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 264px;
	top: 686px;
}
#L22 {
	position: absolute;
	width: 43px;
	height: 52px;
	z-index: 2;
	left: 321px;
	top: 731px;
}
#L23 {
	position: absolute;
	width: 45px;
	height: 45px;
	z-index: 2;
	left: 270px;
	top: 784px;
}
#L24 {
	position: absolute;
	width: 41px;
	height: 47px;
	z-index: 2;
	left: 223px;
	top: 732px;
}
#L25 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 486px;
	top: 685px;
}
#L26 {
	position: absolute;
	width: 43px;
	height: 52px;
	z-index: 2;
	left: 540px;
	top: 730px;
}
#L27 {
	position: absolute;
	width: 45px;
	height: 45px;
	z-index: 2;
	left: 491px;
	top: 784px;
}
#L28 {
	position: absolute;
	width: 41px;
	height: 47px;
	z-index: 2;
	left: 443px;
	top: 732px;
}
#L29 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 700px;
	top: 685px;
}
#L30 {
	position: absolute;
	width: 43px;
	height: 52px;
	z-index: 2;
	left: 754px;
	top: 730px;
}
#L31 {
	position: absolute;
	width: 45px;
	height: 45px;
	z-index: 2;
	left: 705px;
	top: 783px;
}
#L32 {
	position: absolute;
	width: 41px;
	height: 47px;
	z-index: 2;
	left: 658px;
	top: 732px;
}
#L33 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 699px;
	top: 899px;
}
#L34 {
	position: absolute;
	width: 43px;
	height: 52px;
	z-index: 2;
	left: 756px;
	top: 945px;
}
#L35 {
	position: absolute;
	width: 45px;
	height: 45px;
	z-index: 2;
	left: 705px;
	top: 997px;
}
#L36 {
	position: absolute;
	width: 41px;
	height: 47px;
	z-index: 2;
	left: 658px;
	top: 947px;
}
#L37 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 482px;
	top: 900px;
}
#L38 {
	position: absolute;
	width: 43px;
	height: 52px;
	z-index: 2;
	left: 542px;
	top: 943px;
}
#L39 {
	position: absolute;
	width: 45px;
	height: 45px;
	z-index: 2;
	left: 490px;
	top: 997px;
}
#L40 {
	position: absolute;
	width: 41px;
	height: 47px;
	z-index: 2;
	left: 442px;
	top: 946px;
}
#L41 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 265px;
	top: 899px;
}
#L42 {
	position: absolute;
	width: 43px;
	height: 52px;
	z-index: 2;
	left: 321px;
	top: 944px;
}
#L43 {
	position: absolute;
	width: 45px;
	height: 45px;
	z-index: 2;
	left: 269px;
	top: 997px;
}
#L44 {
	position: absolute;
	width: 41px;
	height: 47px;
	z-index: 2;
	left: 223px;
	top: 945px;
}
#L45 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 44px;
	top: 691px;
}
#L46 {
	position: absolute;
	width: 51px;
	height: 39px;
	z-index: 2;
	left: 44px;
	top: 840px;
}
#L47 {
	position: absolute;
	width: 52px;
	height: 45px;
	z-index: 2;
	left: 45px;
	top: 986px;
}
#L48 {
	position: absolute;
	width: 49px;
	height: 52px;
	z-index: 2;
	left: 166px;
	top: 1128px;
}
#L49 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 310px;
	top: 1129px;
}
#L50 {
	position: absolute;
	width: 51px;
	height: 39px;
	z-index: 2;
	left: 462px;
	top: 1130px;
}
#L51 {
	position: absolute;
	width: 52px;
	height: 45px;
	z-index: 2;
	left: 611px;
	top: 1128px;
}
#L52 {
	position: absolute;
	width: 49px;
	height: 52px;
	z-index: 2;
	left: 762px;
	top: 1129px;
}
#L53 {
	position: absolute;
	width: 56px;
	height: 40px;
	z-index: 1;
	left: 924px;
	top: 1032px;
}
#L54 {
	position: absolute;
	width: 51px;
	height: 39px;
	z-index: 2;
	left: 927px;
	top: 821px;
}
#L55 {
	position: absolute;
	width: 52px;
	height: 45px;
	z-index: 2;
	left: 925px;
	top: 672px;
}
#L56 {
	position: absolute;
	width: 49px;
	height: 52px;
	z-index: 2;
	left: 927px;
	top: 524px;
}
#L57 {
	position: absolute;
	width: 52px;
	height: 45px;
	z-index: 2;
	left: 926px;
	top: 292px;
}
#L58 {
	position: absolute;
	width: 49px;
	height: 52px;
	z-index: 2;
	left: 926px;
	top: 142px;
}
